<md-toolbar ng-controller="HeaderCtrl" md-whiteframe="6">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleLeft()">
            <i class="material-icons">reorder</i>
        </md-button>
        <md-button class="md-icon-button" aria-label="CodingLabs">
            <img src="client/assets/images/SimplyCheer-logo.svg">
        </md-button>
        <h2>SimplyCheer</h2>

        <span flex></span>

        <ng-include ng-repeat="item in headerItems" src="item.templateUrl"></ng-include>

    </div>
</md-toolbar>

